<app-menu></app-menu>
<div class="container">
  
  <!-- <p>Hola Mundo</p>

  <div>
    {{title}}
  </div>
  <div>La suma de 2 + 2 es: {{2+2}}</div>
  <div>El doble de 3 es: {{duplicaValor(3)}} </div>
  <h2>Alumno IDGS904</h2>
  <div>
    <b>Matricula: </b>{{Alumnos.matricula}}
  </div>
  <div>
    <b>Nombre:</b>{{Alumnos.nombre}}
  </div>
  <div>
    <b>Fecha:</b> {{Alumnos.fechaNacimiento | date}}
  </div>
  <div>
    <b>Pago:</b>{{Alumnos.pagoIns | currency}}
  </div>
  
  <hr>
    <app-escuela></app-escuela>
 
  <hr>
    <app-ievn></app-ievn>   -->

    <!-- <hr>
    <app-iric></app-iric>     -->
    <app-sumar></app-sumar>
    <hr>
    <app-opera-bas></app-opera-bas>
</div>
